#approval-page-container {
  margin: 50px 20px;
}

#approval-table-head {
  font-size: 14px;
  line-height: 14px;
  font-weight: lighter;
  width: 200vw;
}

#approval-table-body {
  font-size: 13px;
  font-weight: 200px;
  width: 200vw;
}

Table thead th {
  position: sticky;
  top: 0 !important;
  background-color: #1e365c;
  max-height: 40px;
}

Table thead th:first-child {
  position: sticky;
  left: 0 !important;
  top: 0 !important;
  z-index: 1;
}

Table tbody td:first-child {
  position: sticky;
  left: 0 !important;
  background-color: #1e365c;
}
