.reference-form-container {
  width: 900px;
  margin: auto;
}

#reference-form-header {
  width: 800px;
  margin: 30px auto 0;
}

.reference-form-body {
  width: 800px;
  margin: 30px auto;
}

.reference-form-header-content {
  width: 800px;
  margin: auto;
}

#reference-form-next-btn {
  background-color: #e9482b !important;
  color: white !important;
  border-color: #e9482b;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .reference-form-container {
    width: 700px;
    margin: auto;
  }
  
  #reference-form-header {
    width: 600px;
    margin: 30px auto 0;
  }
  
  .reference-form-body {
    width: 600px;
    margin: 30px auto;
  }
  
  .reference-form-header-content {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 720px) {
  .reference-form-container {
    width: 320px;
    margin: auto;
  }
  
  #reference-form-header-logo-title {
    display: block;
    height: 60px !important;
  }

  #reference-form-header-logo {
    display: none;
  }
  
  #reference-form-header {
    width: 300px;
    margin: 30px auto 0;
  }
  
  .reference-form-body {
    width: 300px;
    margin: 30px auto;
  }
  
  .reference-form-header-content {
    width: 300px;
    margin: auto;
  }
}