#forgot-password-container {
  margin: 0;
  display: block;
  box-sizing: border-box;
  background-color: #1e365c;
  color: #e9482b;
  width: 100vw;
  height: calc(100vh - 70px);
  text-align: center;
}

#forgot-password-title {
  padding-top: 6%;
  padding-bottom: 5%;
  font-size: 30px;
}

.forgot-password-input-fields {
  box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.forgot-password-label {
  font-size: 20px;
  display: block;
  box-sizing: border-box;
}

.forgot-password-input {
  background: linear-gradient(0deg, #FFFBFB, #FFFBFB), #FFFBFB;
  border: 1px solid #FFFBFB;
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  font-size: large;
  margin: 0;
}

#forgot-page-submit-btn {
  margin-top: 10%;
  width: 150px;
  height: 35px;
  line-height: 20px;
}

#login-link-div {
  margin-top: 10px;
}

#forgot-password-login-link {
  font-size: 25px;
  font-weight: 300;
  color: #e9482b;
}

@media(max-width: 720px) {
  #forgot-password-container {
    height: calc(100vh - 50px);
  }

  #forgot-password-title {
    padding-top: 10%;
    padding-bottom: 15%;
    font-size: 30px;
  }

  .forgot-password-input-fields {
    box-sizing: border-box;
    width: 280px;
    align-items: center;
  }
  
  .forgot-password-label {
    margin: 0;
  }
  .forgot-password-input {
    width: 200px;
    height: 35px;
    font-size: large;
    margin: 0;
  }

  #forgot-page-submit-btn {
    margin-top: 20%;
    width: 120px;
    height: 35px;
    line-height: 20px;
  }

  #forgot-password-login-link {
    font-size: 20px;
    font-weight: 300;
  }
}