@media(max-width: 1024px) {
  #faq-content-container, #faq-links-container {
    width: 600px !important;
  }
}

@media(max-width: 720px) {
  #faq-content-container, #faq-links-container {
    width: 320px !important;
  }
}

.faq-hashlinks:hover {
  color: #e9482b;
}

.faq-links:hover{
  color: #e9482b;
}