.create-gsc-form-container {
  width: 900px;
  margin: auto;
}

#create-gsc-form-header {
  width: 800px;
  margin: 30px auto 0;
}

.create-gsc-form-body {
  width: 800px;
  margin: 30px auto;
}

.create-gsc-form-header-content {
  width: 800px;
  margin: auto;
}

.without-left-padding {
  padding-left: 0 !important;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.mobile-col {
  display: none !important;
}

#create-gsc-form-next-btn {
  background-color: #e9482b !important;
  color: white !important;
  border-color: #e9482b;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .create-gsc-form-container {
    width: 700px;
    margin: auto;
  }
  
  #create-gsc-form-header {
    width: 600px;
    margin: 30px auto 0;
  }
  
  .create-gsc-form-body {
    width: 600px;
    margin: 30px auto;
  }
  
  .create-gsc-form-header-content {
    width: 600px;
    margin: auto;
  }

  .mobile-col {
    display: none !important;
  }  
}

@media (max-width: 720px) {
  .create-gsc-form-container {
    width: 320px;
    margin: auto;
  }
  
  .desktop-row {
    display: none !important;
  }

  .mobile-col {
    display: flex !important;
    flex-wrap: wrap;
  }
  
  #create-gsc-form-header-logo-title {
    display: block;
    height: 60px !important;
  }

  #create-gsc-form-header-logo {
    display: none;
  }
  
  #create-gsc-form-header {
    width: 300px;
    margin: 30px auto 0;
  }
  
  .create-gsc-form-body {
    width: 300px;
    margin: 30px auto;
  }
  
  .create-gsc-form-header-content {
    width: 300px;
    margin: auto;
  }
}