body {
  font-family: Josefin Sans !important;
  font-size: 20px !important;
  background-color: #fad4cd !important;
}

@media(max-width: 720px) {
  body {
    font-size: 16px !important;
    text-align: center !important;
  }

  .text-align-justify {
    text-align: center !important;
  }

  .font-size-large {
    font-size: 22px !important;
  }
  .font-size-medium {
    font-size: 18px !important;
  }
}

.font-size-large {
  font-size: 30px;
}

.font-size-small {
  font-size: 16px;
}
.underline {
  text-decoration: underline;
}

.light {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.padding-left {
  padding-left: 2vw;
}

.bg-blue {
  background-color: #1e365c;
}

.bg-beach {
  background-color: #fad4cd;
}

.bg-red {
  background-color: #e9482b;
}

.color-blue {
  color: #1e365c;
}

.color-red {
  color: #e9482b;
}

.color-beach {
  color: #fad4cd;
}

.color-grey {
  color: #cccccc;
}

.color-green {
  color: #28a745;
}

.red-button {
  background-color: #e9482b;
  color: #1e365c;
  font-weight: bold;
  border: none;
}

.blue-button {
  background-color: #1e365c;
  color: #fad4cd;
  font-weight: bold;
  border: none;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.Essays1743 {
  font-family: Essays1743;
}

.Essays1743-bold {
  font-family: Essays1743 Bold;
}

.Essays1743-italic {
  font-family: Essays1743 Italic;
}

.Essays1743-bold-italic {
  font-family: Essays1743 Bold Italic;
}