/* .style1 {
  background-color:antiquewhite;
  color: lightblue;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 30px;
}

.style2 {
  color: red;
  background-color: green;
}

#test-id {
  background:greenyellow;
}
*/

.desc, .step1, .step2 {
  width: 100%;
  height: 300px;
}

#parent:nth-child(odd) {
  background-color: lightblue;
}

#parent:nth-child(even) {
  background-color: lightcoral !important;
}
